@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fdfdfd;
    
}

body ::selection {
    background: black;
    color: #fdfdfd;
  }


/* Navbar sytles */

.link {
    @apply text-sm lg:text-lg lg:px-2 py-2 hover:text-orange-500 flex gap-2 items-center
}

.inner-link {
    @apply text-black flex flex-col -z-50 bg-white absolute px-5 py-2 duration-300 transition-all ease-in-out shadow-[0_8px_30px_rgb(0,0,0,0.12)] w-44 pb-3
}

.inner-link-item {
    @apply border-b   px-2 py-1  text-gray-800 hover:text-orange-500 
}

.menu {
    @apply  md:right-6 text-black -z-50 bg-white absolute  duration-300 transition-all ease-in-out shadow-[0_8px_30px_rgb(0,0,0,0.12)]  
}

.inner-menu-item {
    @apply  py-1 block  text-gray-600 hover:text-orange-500 capitalize hover:underline decoration-orange-500
}

/* Global styles or component styles */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    outline: none;
    border-radius: 5px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  